{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	<h1 class="text-center m-5">
		Register
	</h1>


	<div class="container">
		<div class="row">
			<div class="text-center">
				<div>
					{{ form_start(registrationForm) }}
				</div>
				<div>
					{{ form_row(registrationForm.email) }}</div>
				<div>
					{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}</div>


				{{ form_row(registrationForm.agreeTerms) }}

				<button type="submit" class="btn">Register</button>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>
{% endblock %}
